<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
            <label>Nom Produit</label>
            <input type="text" class="form-control" [(ngModel)]="nomcar" name="nomcar" class="form-control">
            <button type="submit" (click)="rechercherCars()" class="btn btn-primary mb-2 ml-2">Search</button>
        </div>
    </form>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Car HP</th>
                    <th>Price</th>
                    <th>Launch Date</th>
                    <th>Maker</th>
                </tr>
                <tbody *ngFor="let Car of Cars">
                    <tr>
                        <td>{{Car.idCar}}</td>
                        <td>{{Car.nomCar}}</td>
                        <td>{{Car.CarHp}}</td>
                        <td>{{Car.prixCar}}</td>
                        <td>{{Car.LaunchDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{Car.maker.nommaker}}</td>
                        <!-- <td><a *ngIf="authService.isAdmin()" class="btn btn-danger"
                                (click)="supprimerCar(Car)">Delete</a></td>
                        <td><a *ngIf="authService.isAdmin()  ||  authService.isAgent()" class="btn btn-success"
                                [routerLink]="['/updateCar',Car.idCar]">Update</a></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>