<div class="container">
  <div>
    <h2>Updating a Car:</h2>
  </div>
  <form>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Car ID</label>
      <input
        readonly
        type="text"
        [(ngModel)]="currentCar.idCar"
        name="idCar"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Car Name</label>
      <input
        type="text"
        [(ngModel)]="currentCar.nomCar"
        name="nomCar"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Car HP</label>
      <input
        type="number"
        [(ngModel)]="currentCar.CarHp"
        name="CarHp"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Price In $</label>
      <input
        type="number"
        [(ngModel)]="currentCar.prixCar"
        name="prixCar"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Launch Date</label>
      <input
        type="date"
        [ngModel]="currentCar.LaunchDate | date : 'yyyy-MM-dd'"
        (ngModelChange)="currentCar.LaunchDate = $event"
        name="dateCreation"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Maker</label>
      <select
        class="form-control form-control-lg"
        id="idmaker"
        name="idmaker"
        [(ngModel)]="updatedmakerId"
      >
        <option *ngFor="let maker of makers" [value]="maker.idmaker">
          {{ maker.nommaker }}
        </option>
      </select>
    </div>

    <div class="mt-2">
      <button type="submit" (click)="updateCar()" class="btn btn-success">
        Update
      </button>
    </div>
  </form>
</div>
