<div class="container">
    <div>
        <h2>Ajouter un Car :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Car</label>
            <input type="text" [(ngModel)]="newCar.idCar" name="idCar" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Car</label>
            <input type="text" [(ngModel)]="newCar.nomCar" name="nomCar" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Car Hp</label>
            <input type="number" [(ngModel)]="newCar.CarHp" name="CarHp" class="form-control">
        </div>
        <div>
            <label>Prix Car</label>
            <input type="number" [(ngModel)]="newCar.prixCar" name="prixCar" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [(ngModel)]="newCar.LaunchDate" name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat" [(ngModel)]="newIdCat">
                <option *ngFor="let cat of categorie" [value]="cat.idCat">
                    {{cat.nomCat}}
                </option>
            </select>
        </div>
        <div class="mt-2">
            <button type="submit" (click)="addCar()" class="btn btn-success">Ajouter</button>
        </div>
    </form>
</div>