<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Car HP</th>
                    <th>Price</th>
                    <th>Launch Date</th>
                    <th>Maker</th>
                </tr>
                <tbody *ngFor="let car of cars">
                    <tr>
                        <td>{{car.idCar}}</td>
                        <td>{{car.nomCar}}</td>
                        <td>{{car.CarHp}}</td>
                        <td>{{car.prixCar}}</td>
                        <td>{{car.LaunchDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{car.maker.nommaker}}</td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-danger"
                                (click)="supprimercars(car)">Supprimer</a></td>
                        <td><a *ngIf="authService.isAdmin()" class="btn btn-success"
                                [routerLink]="['/updatecar',car.idCar]">Modifier</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>